{% extends "bootstrap/base.html" %}

{% block title %}Pi Relay Controller (Seeed){% endblock %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/sticky-footer-navbar.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/sweetalert2.js') }}"></script>
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Pi Relay Controller (Seeed)</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %} {% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Project created by <a href="http://www.johnwargo.com" target="_blank">John M.
                Wargo</a>. This web app crafted using <a href="http://flask.pocoo.org/" target="_blank">Flask</a>.</p>
        </div>
    </footer>
{% endblock %}
