{% extends 'base.html' %}

{% block title %}Pi Relay Controller (Seeed){% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Controller</h1>
    </div>
    <p>Bacon ipsum dolor amet tri-tip pig ball tip corned beef jowl short loin. Meatball cupim brisket chuck picanha
        capicola meatloaf, leberkas bresaola flank jerky. Corned beef ribeye burgdoggen pork belly tail, cupim venison
        beef ribs leberkas ground round. Capicola chuck biltong venison cupim.</p>
    <p>Sirloin chicken ribeye short loin hamburger. Rump tenderloin pig ball tip, ribeye andouille brisket picanha
        frankfurter turducken shank sirloin short ribs kielbasa pastrami. Shoulder tenderloin turkey, porchetta
        andouille beef tri-tip spare ribs turducken swine salami. Frankfurter tail porchetta prosciutto beef ribs
        hamburger landjaeger biltong alcatra ribeye. Beef ribs beef kevin tenderloin capicola. Cupim t-bone tenderloin
        doner boudin bacon hamburger pig landjaeger biltong burgdoggen. Boudin chuck leberkas doner ball tip shank ham
        kevin tenderloin jowl fatback pig cow.</p>
    <p>Porchetta beef boudin ball tip turducken, brisket flank shank pastrami tenderloin kevin burgdoggen pork belly
        pig. Doner picanha leberkas, strip steak prosciutto pork loin venison short ribs short loin corned beef
        porchetta alcatra filet mignon shoulder. Picanha turducken rump, strip steak alcatra ground round frankfurter
        cow pork loin spare ribs ham hock tri-tip brisket. Filet mignon rump chuck shankle, prosciutto cow alcatra
        kielbasa salami leberkas doner jerky venison. Shankle corned beef kielbasa salami doner flank frankfurter
        bresaola strip steak cupim ham hock.</p>
{% endblock %}