{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    {#  footer code shamelessly stolen from http://getbootstrap.com/examples/sticky-footer-navbar/  #}
    <link href="{{ url_for('static', filename='css/bootstrap-toggle.min.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/bootstrap-toggle.min.js') }}"></script>
{% endblock %}

{% block title %}Pi Relay Controller (Seeed){% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Controller</h1>
    </div>
    <p>Bacon ipsum dolor amet tri-tip pig ball tip corned beef jowl short loin. Meatball cupim brisket chuck picanha
        capicola meatloaf, leberkas bresaola flank jerky. Corned beef ribeye burgdoggen pork belly tail, cupim venison
        beef ribs leberkas ground round. Capicola chuck biltong venison cupim.</p>
    <div class="container">
        <div class="row">
            <div class="col-xs-1">1</div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-success" id="on-1">On</button>
            </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-danger" id="off-1">Off</button>
            </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-info" id="toggle-1">Toggle</button>
            </div>
            <div class="col-xs-2">
                <input type="checkbox" checked data-toggle="toggle" id="status-1" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">2</div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-success" id="on-2">On</button>
            </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-danger" id="off-2">Off</button>
            </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-info" id="toggle-2">Toggle</button>
            </div>
            <div class="col-xs-2">
                <input type="checkbox" checked data-toggle="toggle" id="status-2" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">3</div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-success" id="on-3">On</button>
            </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-danger" id="off-3">Off</button>
            </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-info" id="toggle-3">Toggle</button>
            </div>
            <div class="col-xs-2">
                <input type="checkbox" checked data-toggle="toggle" id="status-3" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">4</div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-success" id="on-4">On</button>
            </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-danger" id="off-4">Off</button>
            </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-info" id="toggle-4">Toggle</button>
            </div>
            <div class="col-xs-2">
                <input type="checkbox" checked data-toggle="toggle" id="status-4" readonly>
            </div>
        </div>
     <div class="row">
            <div class="col-xs-6">
                <button type="button" class="btn btn-success" id="all_on">All On</button>
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn btn-danger" id="all_off">All Off</button>
            </div>
        </div>
    </div>
    <p>Porchetta beef boudin ball tip turducken, brisket flank shank pastrami tenderloin kevin burgdoggen pork belly
        pig. Doner picanha leberkas, strip steak prosciutto pork loin venison short ribs short loin corned beef
        porchetta alcatra filet mignon shoulder. Shankle corned beef kielbasa salami doner flank frankfurter
        bresaola strip steak cupim ham hock.</p>
{% endblock %}